<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/bootstrap.min.css}" />
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="getUsers()">
<h1>Barchasi</h1>
<script th:inline="javascript" th:src="@{/js/registerAxios.js}"></script>
<script th:inline="javascript" th:src="@{/js/axios.min.js}"></script>
<script th:inline="javascript" th:src="@{/dist/axios.min.js}"></script>

</body>
</html>