<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/bootstrap.min.css}" />
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="text-center">
<div class="tab text-center border">
    <button class="tablinks border" onclick="tab(event, 'userDetails')">Foydalanuvchi haqida</button>
    <button class="tablinks border" onclick="tab(event, 'transactionHistory')">Test</button>
    <button class="tablinks border" onclick="tab(event, 'transactionHistory')">Bildirishnomalar</button>
    <button class="tablinks border" onclick="tab(event, 'transactions')">Reyting</button>
    <button class="tablinks border" onclick="tab(event, 'deposit')">Sozlamalar</button>
<!--    <button class="tablinks border" onclick="tab(event, 'changeUserInformations')">Maʻlumotlarni oʻzgartirish</button>-->
<!--    <button class="tablinks border" onclick="tab(event, 'changePassword')">Parolni oʻzgartirish</button>-->
    <!--                <button class="tablinks border" onclick="openCity(event, 'changePin')">Pinni oʻzgartirish</button>-->
</div>
<a class="btn btn-success float-left" style="float: left" href="/">Bosh sahifa</a>
<main class="text-center tab-content" id="transactions">
    <aside class="">
        aaaaaaaaa
    </aside>
    <section class="text-center">
        <h1 class="text-center">
            Bu yerda userga tegishli nimalardir bo'ladi
        </h1>
    </section>
</main>



</body>
</html>