.btn{
    color: white !important;
    border-width: 2px; !important;
    font-size: larger; !important;
    letter-spacing: 3px;
}

.p{
    background-color: #f1f1f1;
    width: 120px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.middle{
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

html,body { height: 100%; margin: 0; padding: 0; }
body{
    background-color: rgba(198, 198, 198, 0.55) !important;
}
.card{
    /*background-color: white !important;*/
    background-color: rgba(198, 198, 198, 0.55) !important;
}
input{
    /*background-color: #eeeeee !important;*/
}
textarea{
    /*background-color: #eeeeee !important;*/
}


.cat{
    color: black;!important;
}

/*.main{*/
/*    background: #ffffff; height: 70%!important;*/
/*}*/

/*.header{*/
/*    background: #939393; height: 10%!important;*/
/*}*/

/*.footer{*/
/*    background: #939393; height: 10%!important;*/
/*}*/