<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../css/style.css" th:href="@{/css/bootstrap.min.css}" />
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="h-100" >
    <div class="card h-100 container-fluid">

        <div class="card-header text-center">
            <h3>
                <a class="btn btn-success" style="float: left" href="/admin">Kabinet</a>
                Savollar
                <a class="btn btn-success" style="float: right" href="/admin/simple-add">Yangi qo'shish</a>
            </h3>

        </div>
        <div class="">
            <form class="row w-75 ml-1" action="/admin/simple-home">
                <input th:value="${keyword}" id="keyword" name="keyword" type="text" placeholder="Search" class="form-control col-2">
                <button type="submit" class="btn btn-success col-1">Search</button>
            </form>
        </div>
        <div class="card-body" >
            <div class="d-flex justify-content-center">
                <form class="row" action="/admin/simple-home">

                    <div th:if="${keyword!=''}">
                        <input th:value="${keyword}" name="keyword" type="hidden">
                    </div>
                    <div th:each="p: ${pageCount}">
                        <!--                        <input type="hidden" th:value="${p}">-->
                        <button name="page" th:value="${p}" th:text="${p}" class="col btn btn-success">0</button>
                    </div>



                </form>
            </div>
            <table class="table">
                <tr class="">
                    <th>id</th>
                    <th>Savol</th>
                    <th>variant</th>
                    <th>variant</th>
                    <th>variant</th>
                    <th>variantT</th>
                    <th>Qiyinlik</th>
                    <th>Vaqt qiyinlik</th>
                    <th>Tahrirlash</th>
                </tr>
                <tr th:each="t: ${tests}">
                    <td th:text="${t.id}"></td>
                    <td><p th:text="${t.savol}" style="position: relative;
    background-color: #f1f1f1;
    width: 300px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;"></p></td>
                    <td><p class="p" th:text="${t.v1}"></p></td>
                    <td><p class="p" th:text="${t.v2}"></p></td>
                    <td><p class="p" th:text="${t.v3}"></p></td>
                    <td><p class="p" th:text="${t.v4t}"></p></td>
                    <td th:text="${t.qiyinlik_darajasi}"></td>
                    <td th:text="${t.vaqt_qiyinlik_darajasi}"></td>
                    <td><a th:href="'/admin/'+${t.id}+'/simple-edit'" class="btn btn-success">Tahrirlash</a></td>


                </tr>
            </table>
            <div class="d-flex justify-content-center">
                <form class="row" action="/admin/simple-home">

                    <div th:if="${keyword!=''}">
                        <input th:value="${keyword}" name="keyword" type="hidden">
                    </div>

                    <div th:each="p: ${pageCount}">
                        <!--                        <input type="hidden" th:value="${p}">-->
                        <button name="page" th:value="${p}" th:text="${p}" class="col btn btn-success">0</button>
                    </div>



                </form>
            </div>
        </div>


    </div>
</section>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../static/js/js.js"></script>

</body>
</html>